# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
nbbuild/
nbproject/
dist/
.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store